    body { 
        background-color: green;
    }


    #game-container {
        display: grid;
        gap: 2px;
        width: max-content;
        margin: 20px auto;
        grid-template-columns: repeat(9, 40px); // update dynamically if needed
        grid-template-rows: repeat(9, 40px);
      }
      
      
      .tile {
        width: 40px;
        height: 40px;
        font-size: 16px;
        background-color: #ccc;
        border: 1px solid #999;
        cursor: pointer;
      
        &.flagged {
          background-color: yellow;
        }

        &.detonated-bomb {
            background-color: red;
        }

        &[data-number="1"] {
            color: #0000FF; 
        }
        
        &[data-number="2"] {
            color: #008200;
        }
        
        &[data-number="3"] {
            color: #FF0000; 
        }
          
        &[data-number="4"] {
            color: #000084; 
        }
        
        &[data-number="5"] {
            color: #840000; 
        }
        
        &[data-number="6"] {
            color: #008284; 
        }
        
        &[data-number="7"] {
            color: #000000; 
        }
        
        &[data-number="8"] {
            color: #808080; 
        }
      }
      
